#
# Copyright (c) 2022 SECOM CO., LTD. All Rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause
#
---
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
...
