#
# Copyright (c) 2022 SECOM CO., LTD. All Rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause
#
.cache/
build/
ta/dyn_list
ta/qcbor/
ta/t_cose/
ta/ta.lds
compile_commands.json
*.o
*.cmd
*.dmp
*.elf
*.map
*.d
*.ta
